In [117]:
import pandas as pd

In [118]:
file = pd.read_csv('Documents/analisys/passengers.csv',low_memory=False)

In [119]:
def check_age(row):
    birth_date_row = row['Birth Date']
    flight_date_row = row['Flight Date']
    try:
        birth_date = [int(birth_date_row[:2]), int(birth_date_row[3:5]), int(birth_date_row[6:10])]
        flight_date = [int(flight_date_row[5:7]), int(flight_date_row[8:10]), int(flight_date_row[:4])]
    except (TypeError, ValueError):
        return False
    check = False

    if flight_date[2] - birth_date[2] <= 18:
        if flight_date[2] - birth_date[2] == 18:
            if flight_date[0] < birth_date[0]:
                check = True
            elif flight_date[0] == birth_date[0]:
                if flight_date[1] < birth_date[1]:
                    check = True
        else:
            check = True

    return check
    
file['Under 18'] = file.apply(check_age, axis=1)

In [120]:
under_check_all = file[(file['Last Name'].notna()) & (file['FlightTime'].notna()) & (file['Flight Date'].notna())][['Last Name', 'Under 18', 'Flight Date', 'FlightTime']].copy()
under_check_childrens = under_check_all[under_check_all['Under 18'] == True][['Last Name','Flight Date','FlightTime']].copy()
under_check_parents = under_check_all[under_check_all['Under 18'] == False][['Last Name','Flight Date','FlightTime']].copy()

In [121]:
under_check_childrens['Index'] = under_check_childrens.index
merged_df = pd.merge(
    under_check_childrens,
    under_check_parents,
    on=['Last Name', 'Flight Date', 'FlightTime'],
    how='inner'
)
merged_df.set_index('Index', inplace=True)

In [122]:
merged_df

          Last Name Flight Date FlightTime
Index
737          GLEBOV  2017-01-26      17:20
1509       DENISOVA  2017-01-06      06:40
1546       GUBANOVA  2017-01-06      06:40
2498    VINOGRADOVA  2017-01-06      13:10
2698        TKACHEV  2017-02-05      13:20
...             ...         ...        ...
148511   KONDRATOVA  2017-03-08      14:45
148893     DUBROVIN  2017-05-04      19:25
152052     GORIUNOV  2017-02-14      14:05
153677      ZAITSEV  2017-01-06      12:45
154188    KOCHERGIN  2017-01-12      06:05

[141 rows x 3 columns]